<article class="container bp">

    <div id="watchID" class="hide">{{session._id}}</div>

    <section>
        <div class="justify-content-center session__page">
            {{> _add_button }}
        </div>

        <p class="justify-content-center session__text">Seen this session</p>
    </section>


    <!--- BIRDS SEEN DURING THIS SESSION -->


    <section>

        {{#if seen}}

            <table class="session__birds--seen">


                {{#each seen}}

                    <tr class="spotted-list">

                        <td class="spotted-birds">

                            <div id="{{count.speciesCode}}Code" class="hide">{{count.speciesCode}}</div>
                            <div id="{{count.speciesCode}}Name" class="hide">{{count.comName}}</div>
                            <div id="{{count.speciesCode}}Watch" class="hide">{{count._id}}</div>
                            <div id="{{count.speciesCode}}ID" class="hide">{{count._id}}</div>

                            <a href="https://ebird.org/species/{{birds.speciesCode}}/us" class="birdname-td">
                                {{count.comName}}
                            </a>
                            <!-- Button trigger modal -->

                            <button type="button" id="{{count.speciesCode}}Count"
                                    data-toggle="modal"
                                    data-target="#{{count.speciesCode}}Modal" class="btn__bird--sm">
                                {{count.count}}
                            </button>
                        </td>


                        <td class="btn_math">
                            <div class="adds">
                                <div class="hide">{{count.speciesCode}}</div>

                                <form action="/birds/update/{{_id}}" method="POST"
                                      class="form-group"> <!-- ID is seesion ID -->

                                    <input type="hidden" name="_method" value="PUT">

                                    <input type="hidden" name="count" value="{{count.count}}"
                                           id="{{count.speciesCode}}Add">
                                    <input type="hidden" value="{{count.speciesCode}}"
                                           id="{{count.speciesCode}}modal-idA"
                                           name="birdId">

                                    <button type="submit" class="btn__bird--add">
                                        +1
                                    </button>

                                </form>
                            </div>
                        </td>

                        <td class="btn_math">
                            <div class="minuses">
                                <div class="hide">{{count.speciesCode}}</div>

                                <form action="/birds/update/{{_id}}" method="POST"
                                      class="form-group">

                                    <input type="hidden" name="_method" value="PUT">

                                    <input type="hidden" id="{{count.speciesCode}}Minus" name="count"
                                           value="{{count.count}}">

                                    <input type="hidden" value="{{count.speciesCode}}"
                                           id="{{count.speciesCode}}modal-idS"
                                           name="birdId">

                                    <button type="submit" class="btn__bird--minus">-1</i>
                                    </button>
                                </form>
                            </div>
                        </td>

                        <!-- Modal -->
                        <div class="modal fade" id="{{count.speciesCode}}Modal" tabindex="-1"
                             role="dialog" aria-labelledby="birdModalLabel" aria-hidden="true">
                        </div>
                    </tr>

                {{/each}}
            </table>

        {{else}}
            <p class="row justify-content-center session__text--none">No birds spotted yet!</p>
        {{/if}}

    </section>

    <!--- LIST OF USERS BIRDS THEY HAVE SPOTTED BUT HAVEN'T SEEN THIS SESSION  -->

    <section>
        {{#if results}}

            <p class="row justify-content-center session__text">Your birds</p>

        <table class="session__birds--seen">
            <ul>
                {{#each results}}

                    <!-- TO DO: ad javascript to hide li tag if spotted -->
                    <tr class="{{birds.speciesCode}} spotted-listU">

                        <td class="spotted-birdsU">

                            <div id="{{bird.speciesCode}}CodeU" class="hide">{{bird.speciesCode}}</div>
                            <div id="{{bird.speciesCode}}NameU" class="hide">{{bird.comName}}</div>
                            <div id="{{bird.speciesCode}}IdU" class="hide">{{_id}}</div>

                            <a href="https://ebird.org/species/{{bird.speciesCode}}/us"
                               class="birdname-td">{{bird.comName}}</a>

                            <!-- Button trigger modal -->

                            <button type="button" id="{{bird.speciesCode}}CountU" class="btn__bird--sm"
                                    data-toggle="modal" data-target="#{{bird.speciesCode}}ModalU">
                                0
                            </button>
                        </td>
                        <td class="btn_math">
                            <div class="plusOne">
                                <div class="hide">{{bird.speciesCode}}</div>

                                <form action="" method="POST"
                                      class="form-group">
                                    <input type="hidden" name="_method" value="PUT">

                                    <input type="hidden" name="count" value="0" id="{{bird.speciesCode}}Plus">
                                    <input type="hidden" value="{{bird.speciesCode}}" id="{{bird.speciesCode}}IdP"
                                           name="birdId">
                                    <input type="hidden" value="{{bird.comName}}" id="{{bird.speciesCode}}NamePlus"
                                           name="birdName">

                                    <button type="submit" class="btn__bird--add">
                                        +1
                                    </button>

                                </form>
                            </div>
                        </td>

                        <!-- Modal -->
                        <div class="modal fade" id="{{bird.speciesCode}}ModalU" tabindex="-1" role="dialog"
                             aria-labelledby="birdModalLabelU" aria-hidden="true">
                        </div>

                    </tr>
                {{/each}}
            </ul>

        {{else}}

        {{/if}}

    </section>
</article>


<script>

    let elements, elementsU, minuses, adds, pluses, sessionId, showList;

    elements = document.querySelectorAll('.spotted-birds');
    elementsU = document.querySelectorAll('.spotted-birdsU');
    minuses = document.querySelectorAll('.minuses');
    adds = document.querySelectorAll('.adds');
    pluses = document.querySelectorAll('.plusOne');
    sessionId = document.getElementById('watchID').innerText;
    showList = document.getElementById('show-list');
    addBtn = document.getElementById('add-bird-btn');


    // Opens modal to add updated count
    elements.forEach((element) => {
        element.addEventListener('mousedown', (e) => {
            let code, name, count, modalCount, modal, id;

            code = element.firstElementChild.innerText;
            name = document.getElementById(code + "Name").innerText;
            count = document.getElementById(code + "Count");
            modal = document.getElementById(code + "Modal");

            modal.innerHTML = `
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="birdModalLabel">${name}</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    <form action="/birds/update/{{session._id}}" method="POST" class="form-group">
     <input type="hidden" name="_method" value="PUT">
        <div class="modal-body">
              <label for="modal-input" class="mr-5">Enter number of birds spotted</label>
              <input type="text" value="${count.innerText}" id="${code}-count" name="count"  >
             <input type="hidden" value="${code}" id="${code}-ID" name="birdId">
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="Submit" class="btn btn-primary" id="save-input">Save changes</button>
        </div>
    </form>

    </div>
</div>`

            // Opens modal to create a new spoted bird session
        });
    });

    // Subtracts One to the number of seen birds
    minuses.forEach((minus) => {
        minus.addEventListener('mousedown', (e) => {
            let subtract;


            subtract = minus.firstElementChild;
            code = subtract.innerText;
            console.log("Minus Code: ", code)
            count = document.getElementById(code + "Minus").value;
            count--;

            document.getElementById(code + "Minus").value = count
        });
    });
    ``
    // Adds One to the number of swen birds
    adds.forEach((add) => {
        add.addEventListener('mousedown', (e) => {
            let addition;

            addition = add.firstElementChild;
            code = addition.innerText;
            count = document.getElementById(code + "Add").value;
            count++;

            document.getElementById(code + "Add").value = count
        });
    });

    // Opens modal to add bird to seen list
    elementsU.forEach((element) => {
        element.addEventListener('mousedown', (e) => {
            let code, name, count, modalCount, modal, id;
            code = element.firstElementChild.innerText;
            console.log("Code:", code)
            name = document.getElementById(code + "NameU").innerText;
            console.log("Name:", name)
            count = document.getElementById(code + "CountU").innerText;
            console.log("Count:", count)
            id = document.getElementById(code + "IdU").innerText; // Bird Modal id
            console.log("Bird Id:", id)

            modalCount = document.getElementById('modal-count');
            modal = document.getElementById(code + "ModalU");


            modal.innerHTML = `
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="birdModalLabelU">Start counting: ${name}</h5>

            <button type="button" class="close wht" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    <form action="/birds/create/{{session._id}}" method="POST" class="form-group">
     <input type="hidden" name="_method" value="PUT">
        <div class="modal-body" id="modal-count">
              <label for="modal-input" class="mr-5">Enter number of birds spotted</label> <input class="input-box" type="text" value="${count}" id="modal-input" name="count">
              <label for="modal-input"></label> <input type="hidden" value="${name}" id="modal-code" name="birdName">
              <label for="modal-input"></label> <input type="hidden" value="${code}" id="modal-id" name="birdId">
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="Submit" class="btn btn-primary" id="save-input">Save changes</button>
        </div>
    </form>

    </div>
</div>`

            // Opens modal to create a new spooted bird session

        });
    });

    // Adds One to the number of spotted birds
    pluses.forEach((plus) => {
        plus.addEventListener('mousedown', (e) => {
            let addition, code, count, birdId, birdName, form;

            addition = plus.firstElementChild;
            form = addition.nextElementSibling;
            code = addition.innerText;
            count = document.getElementById(code + "Plus").value;
            birdId = document.getElementById(code + "IdP").value;
            birdName = document.getElementById(code + "NamePlus").value;

            count++

            document.getElementById(code + "Plus").value = count
            form.action = `/birds/create/${sessionId}`;

            count++;
            count.value = count

        });
    });

    addBtn.addEventListener('mousedown', (e) => {
        addBtn.href = `/birds/add_bird_session/${sessionId}`;
    })
</script>