<!-- Flash message go here -->

{{> _messages }}

<h2>Bird Nerd</h2>


<h4 class="reg__headline">
    <i class="fas fa-user-plus"></i> Register
</h4>

<!-- Local Login -->


<form action="/register" method="POST" class="flex-column">

    <div class="form-group">
        <label for="name">Name</label>
        <input
                type="name"
                id="firstName"
                name="firstName"
                class="form-control"
                placeholder=""
                value="{{#if firstName}}{{firstName}}{{/if}}"/>


    </div>

    <div class="form-group">
        <label for="name">Last Name</label>
        <input
                type="name"
                id="lastname"
                name="lastName"
                class="form-control"
                placeholder=""
                value="{{#if lastName}}{{lastName}}{{/if}}"/>

    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                placeholder=""
                value="{{#if email}}{{email}}{{/if}}"/>

    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                placeholder=""
                value="{{#if password}}{{password2}}{{/if}}"/>
    </div>
    <div class="reg_info">Passwords need to be atleast six characters. Please note your password somewhere safe.</div>
    <div class="form-group">
        <label for="password2">Confirm Password</label>
        <input
                type="password"
                id="password2"
                name="password2"
                class="form-control"
                placeholder=""
                value="{{#if password2}}{{password2}}{{/if}}"/>
    </div>

    <button type="submit" class="btn__register">
        Register
    </button>

</form>
<p class="lead mt-2 reg">Have an account? <a href="/login">Login</a></p>


<!-- Google Login -->
<div class="section google">
    <a href="/auth/google" class="btn red darken-1 google">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>